* {
  margin: 0;
}

body {
  background-color: #f9fbff;
  color: #333;
  line-height: 1.6;
}

div {
  background-color: #f0f8ff;
  border-radius: 10px;
}

.navbar {
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  background-color: #00bfff;
  border: 2px solid #0056d6;
  border-radius: 8px;

  margin: 1rem auto;
  padding: 0 20px;
}
.navbar div {
  margin: 1rem;
  padding: 0.5rem;
}
marquee {
  font-size: xx-large;
}

main {
  margin: 1rem;
}

#about {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 2px solid #0056d6;
}

#contact {
  padding: 1rem;
  border: 2px solid #0056d6;
}
